
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/reset';
@import 'utils/fonts';


/* Base styles */
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: $mainFontSize; font-family: $mainFontFamily; line-height: $mainLineHeight; overflow: hidden; }

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1,
h2 { font: 500 1.75rem/1.3 'SF Pro Display'; }

p { font: normal 1.25rem/1.4 'SF Pro Display'; }
// b { font-weight: bold; }
// i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:focus { color: $linkColor; }

  svg { transition: fill, stroke .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 1.5rem 1rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-gap: 2rem; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 1.5rem 2.5rem; grid-gap: 2.5rem; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
}

@media screen and (min-width: $desktopWidth) {
  body { scrollbar-width: thin; scrollbar-color: $Black $DarkGrey; overflow: visible; }

  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $Black; outline: 1px solid $DarkGrey; }
  ::-webkit-scrollbar-corner { background: $Black; }
  ::-webkit-resizer { background: $DarkGrey; }

  h1 { font-size: 3.5rem; line-height: 1.4; }
  h2 { font-size: 3rem; line-height: 1.2; }

  p { font-size: 1.5rem; line-height: 1.5; }

  a:hover { color: $linkColor_hover; }
}


/* Layout styles */
header { @include z('header');
  .container { height: 6.5rem;
    .header { border-bottom: 1px solid $Blue; margin: -1.5rem -1rem; padding: 2rem 1.5rem 1.5rem; background: $Blue; display: flex; align-items: center;
      &-logo { display: flex;
        a { display: flex;
          img { width: 48px; height: 48px; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { height: 11.625rem;
      .header { border-bottom: 0; padding: 4rem 4rem 2.625rem; background: transparent;
        &-logo a img { width: 80px; height: 80px; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header { margin: -1.5rem -2.5rem; padding: 4rem 6.25rem 2.625rem; }
    }
  }
}

main { @include z('main'); }

footer { @include z('footer');
  .container {
    .footer { display: flex; justify-content: space-between; align-items: center;
      &-copyright { margin-right: 1rem;
        p { font-size: 1rem; line-height: 1.2; }
      }
      &-menu ul { display: flex; align-items: center;
        li {
          &:not(:last-child) { margin-right: 1rem; }

          a { font-size: 1rem; line-height: 1.2; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .footer { margin: 0 -1rem;
        &-copyright { margin-right: 2rem;
          p { font-size: 1.25rem; line-height: 1.2; }
        }
        &-menu ul li a { font-size: 1.25rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 1rem 2.5rem 2.5rem;
      .footer { margin: 0;
        &-copyright { margin-right: 2.5rem; }
      }
    }
  }
}


/* Page styles */
@import 'page/index';
