extends include/main

block variables
  - let title = 'FastApp'
  - let description = ''

block content
  section#index
    .container
      .index.content
        .index__wrap
          .index__title
            h1 Lose weight and feel great with FastApp
          .index__lead
            p Add some text which would reflect basic information about app and it′s functions
          .index__button
            .button
              a(href='//apps.apple.com/en/app/fastapp' target='_blank' title='App Store – Apple')
                svg
                  use(href='/image/icon/app-store.svg#app-store')
        .index__image
          img(src='/image/illustration/main.png' srcset='/image/illustration/main@2x.png 2x' loading='eager' alt='illustration')
  section#feature
    .container
      .feature.content
        ul.feature-list
          li.feature-list__item
            .feature-list__title
              h2 Track your fasting
            .feature-list__text
              p Smart and flexible tracking. Start and End your fasts with one quick click
            .feature-list__image.feature-list__image-1
              img(src='/image/illustration/fasting.png' srcset='/image/illustration/fasting@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Track your progress
            .feature-list__text
              p See how fasting helps with weight loss
            .feature-list__image.feature-list__image-2
              img(src='/image/illustration/progress.png' srcset='/image/illustration/progress@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Choose your fasting plan
            .feature-list__text
              p Individual fasting plans for beginers and advenced users.
            .feature-list__image.feature-list__image-3
              img(src='/image/illustration/plan.png' srcset='/image/illustration/plan@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Know your body
            .feature-list__text
              p Monitor the different stages of fasting as you lose weight
            .feature-list__image.feature-list__image-4
              img(src='/image/illustration/body.png' srcset='/image/illustration/body@2x.png 2x' loading='eager' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Stay Hydrated
            .feature-list__text
              p Logs your water intake and sends reminders
            .feature-list__image.feature-list__image-5
              img(src='/image/illustration/water.png' srcset='/image/illustration/water@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title.feature-list__title-m-margin-bottom-24.feature-list__title-d-margin-bottom-40
              h2 Start intermittent fasting right now
            .feature-list__button
              .button
                a(href='//apps.apple.com/en/app/fastapp' target='_blank' title='App Store – Apple')
                  svg
                    use(href='/image/icon/app-store.svg#app-store')
