
/* SF Pro Display */
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('../font/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2'),
    url('../font/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
    url('../font/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'SF Pro Display';
//   src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
//     url('../font/SFProDisplay/SFProDisplay-RegularItalic.woff2') format('woff2'),
//     url('../font/SFProDisplay/SFProDisplay-RegularItalic.woff') format('woff'),
//     url('../font/SFProDisplay/SFProDisplay-RegularItalic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
//     url('../font/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2'),
//     url('../font/SFProDisplay/SFProDisplay-Bold.woff') format('woff'),
//     url('../font/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
//     url('../font/SFProDisplay/SFProDisplay-BoldItalic.woff2') format('woff2'),
//     url('../font/SFProDisplay/SFProDisplay-BoldItalic.woff') format('woff'),
//     url('../font/SFProDisplay/SFProDisplay-BoldItalic.ttf') format('truetype');
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('../font/SFProDisplay/SFProDisplay-Medium.woff2') format('woff2'),
    url('../font/SFProDisplay/SFProDisplay-Medium.woff') format('woff'),
    url('../font/SFProDisplay/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'SF Pro Display';
//   src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
//     url('../font/SFProDisplay/SFProDisplay-MediumItalic.woff2') format('woff2'),
//     url('../font/SFProDisplay/SFProDisplay-MediumItalic.woff') format('woff'),
//     url('../font/SFProDisplay/SFProDisplay-MediumItalic.ttf') format('truetype');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }
