
/* Brand colors */
$NavyBlue                  : #120059;
$Blue                      : #288bff;
$LightBlue                 : #edf4ff;
$LightPink                 : #ffe7ef;

$Black                     : #000000;
$DarkGrey                  : #c2cbcc;
$White                     : #ffffff;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'SF Pro Display', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1248px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $NavyBlue;
$mainBackground            : $White;
$linkColor                 : $NavyBlue;
$linkColor_hover           : $NavyBlue;

/* Color shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba(0, 0, 0, .66);
