-
  let menu = [
    { url: '#', title: 'Privacy&Policy' }
  ]

footer
  .container
    .footer.content
      .footer-copyright
        p &copy; FastApp
      nav.footer-menu
        ul
          each link in menu
            li
              a(href=link.url target='_blank' title=link.title) #{ link.title }
