
/* Index page */
#index {
  .container { padding-bottom: 5.125rem;
    .index { border-radius: 0 0 40px 40px; margin: -1.5rem -1rem; padding: 0 1rem; background: $Blue; display: flex; flex-direction: column;
      &__wrap { margin-bottom: 1.5rem; }
      &__title { margin-bottom: 1rem;
        h1 { color: $White; }
      }
      &__lead { margin-bottom: 1rem;
        p { color: $White; }
      }
      &__button { display: flex;
        .button a { display: flex;
          svg { width: 144px; height: 48px; flex: none; }
        }
      }
      &__image { margin-bottom: -3.625rem; display: flex; justify-content: center;
        img { width: 304px; height: 434px; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .index { position: relative; border-radius: 40px; padding: 4rem 4rem 5.375rem; flex-direction: row; justify-content: space-between;
        &__wrap { width: 60%; margin: 0 2rem 0 0; }
        &__title { margin-bottom: 2rem; }
        &__lead { margin: 0 4rem 2rem 0; }
        &__button .button a svg { width: 174px; height: 58px; }
        &__image { position: absolute; top: 0; right: 0; margin: -2rem -1.5rem 0 0; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .index {
        &__image { margin: -2rem 3rem 0 0; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 11rem;
      .index { border-radius: 64px; margin: -1.5rem 0; padding: 4rem 4rem 5.375rem;
        &__wrap { width: 620px; margin-right: 2.5rem; }
        &__image { position: relative; top: auto; right: auto; margin: -10rem -1rem -10.375rem;
          img { width: 485px; height: 692px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .index {
        &__image { margin: -10rem 1.5rem -11.375rem 0; }
      }
    }
  }
}

#feature {
  .container {
    .feature {
      &-list { display: flex; flex-direction: column;
        &__item {
          &:not(:last-child) { border-radius: 40px; margin-bottom: 1.5rem; padding: 2rem 1rem 0; overflow: hidden; }
          &:last-child { padding: 2.5rem 0 3rem; }
          &:nth-child(odd):not(:last-child) { background: $LightBlue; }
          &:nth-child(even):not(:last-child) { background: $LightPink; }
        }
        &__title { margin-bottom: 1rem;
          &-m-margin-bottom-24 { margin-bottom: 1.5rem; }
        }
        &__image { display: flex; justify-content: center;
          &-1 { margin-top: 1.25rem;
            img { width: 239px; height: 318px; }
          }
          &-2 { margin: 1.5rem -1.625rem;
            img { width: 100%; }
          }
          &-3 { margin: 1.5rem 0 0 -2.5rem;
            img { width: 292px; height: 306px; }
          }
          &-4 { margin: .5rem -.25rem -1.5rem;
            img { width: 100%; }
          }
          &-5 { margin-top: 1.25rem;
            img { width: 239px; height: 314px; }
          }

          img { flex: none; }
        }
        &__button { display: flex;
          .button a { display: flex;
            svg { width: 144px; height: 48px; flex: none; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .feature { margin: 0 -1rem;
        &-list { flex-wrap: wrap; flex-direction: row;
          &__item { width: calc((100% - 2rem) / 2);
            &:not(:last-child) { margin-bottom: 0; padding: 3rem 3rem 0; }
            &:last-child { padding: 6rem 3rem 3rem 4.75rem; }
            &:nth-child(n + 3) { margin-top: 2rem; }
            &:nth-child(6n + 1),
            &:nth-child(6n + 4),
            &:nth-child(6n + 5) { margin-right: 2rem; }
            &:nth-child(1) { order: 1; }
            &:nth-child(2) { order: 2; }
            &:nth-child(3) { order: 4; }
            &:nth-child(4) { order: 3; }
            &:nth-child(5) { order: 5; }
            &:nth-child(6) { order: 6; }
          }
          &__title { margin-bottom: 1.5rem;
            &-d-margin-bottom-40 { margin-bottom: 2.5rem; }
          }
          &__button .button a svg { width: 174px; height: 58px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .feature {
        &-list {
          &__item:last-child { padding: 6rem 4.75rem 3rem; }
          &__image-3 { margin: 3.25rem 0 0 0; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .feature { margin: 0;
        &-list {
          &__item { width: calc((100% - 2.5rem) / 2);
            &:last-child { padding: 14rem 3rem 3rem 8.5rem; }
            &:nth-child(n + 3) { margin-top: 2.5rem; }
            &:nth-child(6n + 1),
            &:nth-child(6n + 4),
            &:nth-child(6n + 5) { margin-right: 2.5rem; }
          }
          &__image {
            &-1 { margin-top: 2.5rem;
              img { width: 286px; height: 420px; }
            }
            &-2 { margin: 5rem -1.625rem 0;
              img { width: 628px; height: 304px; }
            }
            &-3 { margin: 2.5rem 0 0 -2.5rem;
              img { width: 398px; height: 426px; }
            }
            &-4 { margin: 3.5rem -.25rem -1.5rem;
              img { width: 454px; height: 434px; }
            }
            &-5 { margin-top: 2.5rem;
              img { width: 286px; height: 447px; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .feature {
        &-list {
          &__image-2 img { width: 628px; height: 367px; }
        }
      }
    }
  }
}
